*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: black;
    background-image: url("../images/galaxy.jpg");

}

.img{
    width: 13%;
    /* background-image: none; */
    position: absolute;
    top: 0%;
    z-index: 2;

}

#img2{
    margin-left: 17%;
}
#img3{
    margin-left: 34%;
}
#img4{
    margin-left: 51%;
}
#img5{
    margin-left: 68%;
}
#img6{
    margin-left: 85%;
}


#ship{
    width: 7%;
    margin-top: 39%;
    position: absolute;
    
}